/* Here is your custom css styles. */


/* 修改博客副标题的字体大小*/
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 50px;
        margin-bottom: 20px;
        position: relative;
        line-height: 1.2em;
		font-family: "Times New Roman",Georgia,Serif;
        /* font-family: Georgia, -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif; */
    }
    #subtitle {
        font-size: 1.16rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.8rem;
    }
}

/* 增加每日一言模块 */
.poem-wrap {
    position: relative;
    /*width: 730px;
    max-width: 80%;*/
    /*border: 2px solid #797979;*/
    border-top: 0;
    text-align: center;
    margin: 20px auto;
}
.poem-left {
    left: 0;
}
.poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
}
.poem-right {
    right: 0;
}
.poem-wrap h1 {
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
}
.poem-wrap p:nth-of-type(1) {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}
.poem-wrap p {
    width: 70%;
    margin: auto;
    line-height: 30px;
    color: #797979;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}
.poem-wrap p:nth-of-type(2) {
    font-size: 19px;
    margin: 15px auto;
}
.bozhushuo {
    text-align: center;
    font-size: 19px!important;
    margin: 0 0 12px!important;
    line-height: 1.9rem;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}
.notice {
    margin: 30px auto;
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 95%;
    background: #fbfbfb50;
    border-radius: 10px;
    font-size: 16px;
}
.notice-content {
    display: initial;
    vertical-align: middle;
}

/* 滚动条样式一 */ 
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.8rem;
  background-image: linear-gradient(135deg, #1DE9B6 0%, rgba(8, 196, 219, 0.5) 72%, rgba(0, 182, 234, 0.3) 100%);
}


/* 滚动条样式二  delete lock*/
lock::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 11px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }
lock::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  }
lock::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 10px;
  }

  /* 底部访问统计和人数一直显示 */
#busuanzi_container_site_pv,
#busuanzi_value_site_pv,
#busuanzi_container_site_uv{
   display: inline !important;
}
